body{
   color: rgb(3, 3, 254);
   background-color: rgb(102, 255, 68); 
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects {
    color: rgba(255, 11, 11, 0.838);
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}